@font-face {
  font-family: asFont;
  src: url(Adult-Swim-Font.ttf);
}

body {
 text-align: center;
  font-family: asFont;
}
.container {
  text-align: center;
  font-family: asFont;
}
footer {
  bottom: 0;
  margin: 0 auto;
}
